*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    scroll-behavior: smooth;
}
html,body{
    max-width: 100%;
    overflow-x: hidden;
}
body{
    background-image: url(../images/Decore.png) ;
    background-size: 46%;
    background-repeat: no-repeat;
    background-position-x: right;
}
header{
    background-color: transparent;
    width: 100%;
    max-width: 100vw;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 11%;
    margin-bottom: 30px;
}
nav ul {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap in smaller screens */
}
li {
    display: inline;
    font-family: "Lunasima", sans-serif;
    padding-left: 3rem;
}
.login{
    padding-left: 4rem;
}
li a{
    font-weight: bold;
    font-family: "Lunasima", sans-serif;
    text-decoration: none;
    color:#212832;
}
.nav-btn{
    background-color:transparent;
    border-radius: 5px;
    padding: 8px 20px;
}
select{
    background-color: transparent;
    border: none;
}

.hero{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.hero-content{
    position: relative;
    margin-top: 130px;
    color: #181E4B;
}
.p1{
    font-weight: 700;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    color: #DF6951;
}
.hero-content h2{
    font-size: 84px;
    font-weight: 700;
    font-family:  "Volkhov", serif;
    margin-bottom: 0.5em;
}

.enjoy-line {
    position: absolute;
    height: 10%;
    z-index: -1;
    top: 15%;
    width: 100%;
    left: 45%;
}
.p2{
    font-family: "Poppins", sans-serif;
    font-weight:600;
    font-size: 16px;
    line-height: 30px;
    color:  #5E6282;
    margin-bottom: 1em;
}
.hero-btn{
    background-color: #F1A501;
    color: white;
    border:#F1A501 solid;
    font-size: 16px;
    font-weight: 400;
    border-radius: 10px;
    padding: 15px 20px;
}
.btns{
    display: flex;
    align-items: center;
}
i{
    padding-left: 4%;
    font-size: 3em;
    color: #DF6951;
}
.p3{
    font-family: "Poppins", sans-serif;
    padding-left: 4%;
    color: #686D77;
}

.plane1{
    position: absolute;
    height: 100vh;
    z-index: -1;
    opacity: 1;
    top: 20%;
    right: 38%;
}
.plane2{
    position: absolute;
    height: 100vh;
    z-index: -1;
    opacity: 1;
    right: 6%;
    top: 30%;
}
.services , .Destinations  {
    margin-top: 5em;
    text-align: center;
}
.p4{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #5E6282;
    margin-bottom: 1em;
}
.services h2 , .Destinations h2 , .booking h2 , .testimonial h2{
    font-family: "Volkhov", serif;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 1em;
    text-transform: capitalize;
    color: #14183E;
}
.content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3rem;
    justify-content: center;
}
.cards{ 
    width: 15em;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 36vh;
    -webkit-transition: 0.9s ease;
    -o-transition: 0.9s ease;
    transition: 0.9s ease;
}
.cards:hover{
    -webkit-box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
            box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}
.info h3 {
    text-align: center;
    margin: 10px;
    font-size: 1.2em;
    font-weight: 700;
}


.des-content {
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.card {
    border-radius: 18px;
    -webkit-box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
            box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    max-width: 290px;
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    -webkit-transition: 0.9s ease;
    -o-transition: 0.9s ease;
    transition: 0.9s ease;
}
.card:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}
.card img {
    width: 100%;
    height:40vh;
    object-fit: cover;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}


.card-content {
    padding: 1.4rem 1.6rem 2rem;
    flex-grow: 1;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-header {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 1.1rem;
    color: #5E6282;
    margin-bottom: 12px;
}

.trip-duration {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 600;
    color:#5E6282;
    gap: 1.2rem;
}
.trip-duration i{
    color:#080809;
    font-size: 20px;
}

.booking, .testimonial , .logos , .subscribe ,.footer-content  {
    display: flex;
    margin-top: 8em;
    align-items: center;
    justify-content: space-between;
    padding: 0px 270px;
}
.icons-group{
    display: flex;
    gap: 1.2rem;
    margin-bottom: 3rem;
}
.p5{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #5E6282;
    margin-bottom: 0.5em;
}
.p6{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #5E6282;
    margin-bottom: 0.5em;
}
.book-card{
    display: flex;
    align-items: center;
    position: relative;
}
.box-card{
    border-radius: 18px;
    -webkit-box-shadow: 20px 5px 50px rgba(89, 177, 230,1);
            box-shadow: 20px 5px 50px rgba(89, 177, 230, 1) ;
    width: 370px;   
    display: flex;
    flex-direction: column;
    -webkit-transition: 0.9s ease;
    -o-transition: 0.9s ease;
    transition: 0.9s ease;
}
.box-card img {
    width: 100%;
    padding: 20px;
}
.card-info{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:#84829A;
}
.card-info img{
    height: 10vh;
    width: 60%;
}
.card-footer {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 600;
    color:#5E6282;
    gap: 1.2rem;
}
.card-footer i{
    color:#84829A;
    font-size: 20px;
}
.footer-icon i{
    color: #4152CA;
    padding-left: 6em;
}
.box-card h3 ,.another-card h3{
    color: #080809;
}
.another-card{
    background-color: white;
    display: flex;
    border-radius: 18px;
    -webkit-box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
            box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    width: 263px;   
    position: absolute;
    z-index: 1;
    margin-top: 10rem;
    height:25%;
    left: 55%;
    -webkit-transition: 0.9s ease;
    -o-transition: 0.9s ease;
    transition: 0.9s ease;
}
.another-card img{
    padding-top: 1rem;
    padding-left: 0.5rem;
}
.another-card-footer {
    align-items: center;
    font-size: 0.9rem;
    font-weight: 600;
    color: #080809;
    gap: 1.2rem;
}
.another-card-footer span{
    color: #8A79DF;
}
.testimonial{
    padding: 0px 250px;
    position: relative;
}
.testimonial-title img{
    margin-top: 4rem;
}
.testimonial-cards{
    border-radius: 18px;
    -webkit-box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
            box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    width: 30vw;  
    height: 20%; 
    display: flex;
    flex-direction: column;
    -webkit-transition: 0.9s ease;
    -o-transition: 0.9s ease;
    transition: 0.9s ease;
    padding: 2em;
    margin-left: 12px;
}
.testimonial-info{
    margin-top: 2rem;
}
.testimonial-images{
    position: absolute;
    right: 45%;
    top: 10%;
}
.logos{
    justify-content: center;
    margin-top: 14em;
    padding: 0px 60px;
}
.logo-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.logo-card{
    display: flex;
    border-radius: 18px;
    width: 241px;
    height: 10vh;  
    justify-content: center;
    align-items: center;
    -webkit-transition: 0.9s ease;
    -o-transition: 0.9s ease;
    transition: 0.9s ease;
}
.logo-card img{
    width: 80%;
    padding: 20px;
    filter: grayscale(100%);
}
.logo-card:hover img{
    transition: filter 1s ease;
    filter: grayscale(0%);
}
.logo-card:hover{
    -webkit-box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
            box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}
.subscribe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
}
.subscribe h2  {
    font-family: "Poppins", sans-serif;
    font-size: 33px;
    font-weight: 600;
    color: #5E6282;
    margin-bottom: 20px;
}
.subscribe-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1.5rem;
}
.input-icon{
    display: flex;
    align-items: center;
}
input {
    padding: 10px;
    padding-left: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 26vw;
    height: 8vh;
    position: relative;
    font-size: 16px;
}
.input-icon i{
    position: absolute;
    z-index: 1;
    right: 74%;
    font-size: 2rem;
    color: #39425D;
}
.subscribe button {
    background: linear-gradient(rgba(255, 148, 109, 1),rgba(255, 125, 104, 1));
    color: white;
    border: none;
    border-radius: 10px;
    padding: 24px 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #FF7D68;
}
.subscribe-card {
    background-color:#F9F7FE;
    border-radius: 20px;
    border-top-left-radius: 129px;
    width: 70vw;
    padding: 10px;
    height: 50vh;
    position: relative;
    display: flex;
    z-index: 1;
    justify-content: center;
    flex-direction: column;
    -webkit-transition: 0.9s ease;
    -o-transition: 0.9s ease;
    transition: 0.9s ease;
}
.subscribe img{
    position: absolute;
    z-index: -1;
    color:#F9F7FE ;
}
.sub1{
    margin-bottom: 7em;
    right: 0%;
    opacity: 0.2;
}
.sub2{
    margin-bottom: 23em;
    left: 95%;
    opacity: 1;
}
.sub3{
    margin-top: 9em;
    width: 30%;
    opacity: 0.2;
}
.footer-content{
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
    margin-bottom: 5em;
}
.footer-content h2{
    font-family: "Poppins", sans-serif;
    font-size: 44px;
    font-weight: 500;
    color: #181E4B;
}
.footer-content h3{
    font-family: "Poppins", sans-serif;
    margin-bottom: 1em;
    font-size: 21px;
    font-weight: 700;
}
.jadoo{
    padding-bottom: 3em;
}
.jadoo .p6{
    padding-top: 1em;
}
.stores{
    display: flex;
}
.copyright{
    font-size: 14px;
    text-align: center;
    margin-bottom: 3em;
}
img {
    max-width: 100%; /* Ensures images do not exceed their container */
    height: auto; /* Maintains aspect ratio */
}

/* Mobile Styles */
@media (max-width: 768px) {
    body{
        background-size: 100%;
    }
    header {
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        padding: 0;
    }

    nav li {
        padding: 10px 0;
    }
    .login{
        padding-left: 0;
    }
    .hero-content{
        text-align: center;
    }

    .hero-content h2 {
        font-size: 40px;
    }

    .hero-content .p2 {
        font-size: 14px;
    }
    .enjoy-line {
    top: 13%;
    width: 50%;
    left: 50%;
    }
    .plane1{
    top: 55em;
    right: 50%;
    }
.plane2{
    right: 0%;
    left:80% ;
    top: 60em;
    }
    .services .content, .des-content {
        flex-direction: column;
        align-items: center;
    }

    .cards, .card {
        width: 90%;
        margin: 10px 0;
    }
    .another-card{
        left: 50%;
    }
    .booking, .testimonial, .logos, .subscribe {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .testimonial-cards{
        width: 100vw;  
    }
    .testimonial-images{
        top: 50%;
        right: 45%;
    }
    .subscribe-card{
        height: 82vh;
    }
    .subscribe-form {
        flex-direction: column;
    }

    .subscribe-form input {
        width: 100%;
        margin-bottom: 10px;
    }
    .input-icon i{
    right: 80%;
}

    .footer-content {
        gap:1rem ;
        text-align: center;
        padding:0;
        flex-direction: column;
    }

}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 1024px) {
    header {
        padding: 30px;
        flex-direction: row;
    }
    nav ul {
        flex-direction: row;
    }
    nav li{
        padding-left: 5%;
    }

    .hero-content h2 {
        font-size: 60px;
    }
    .plane1{
    top: 48em;
    right: 60%;
    }
.plane2{
    right: 0%;
    left:80% ;
    top: 50em;
    }

    .services .content, .des-content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .cards, .card {
        width: 45%;
        margin: 10px;
    }
    .testimonial-images{
        top: 10%;
        right: 34%;
    }
    .booking, .testimonial, .logos, .subscribe {
        flex-direction: row;
        justify-content: space-between;
        padding: 40px;
    }

    .subscribe-form {
        flex-direction: row;
    }
    .input-icon i{
        right: 83%;
    }
    .subscribe-form input {
        width: 70%;
        margin-right: 10px;
    }
    .footer-content {
        gap:1rem ;
        text-align: center;
        padding:0;
        flex-direction: column;
    }
}

